.img {
    display: flex;
    margin: 60px auto 10px auto;
    width: 150px;
    height: 150px;
    /*border: 1px solid black;*/
    border-radius: 100%;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    z-index: 99;
    /*background-color: #70B1FF;*/
}

.navbar{
    background-color: #334B4A;
    font-family: -webkit-body;
    height: 80px;
}

.flecha:hover {
    transform: scale(1.1);
    /*border: 1px solid black;*/
}

svg {
    padding: 0 1px;
    cursor: pointer;
}

/* From uiverse.io by @nikk7007 */
.primary-button {
    padding: 0.8em 1.8em;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: black;
   }
   
   .primary-button::before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    background: #00dcff;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .primary-button:hover::before {
    width: 105%;
   }
   
   .primary-button:hover {
    color: #111;
   }
   