{% block style %}

    <link rel="stylesheet" href="static/css/navbar.css">

{% endblock %}
<nav id="navbar-example2" class="navbar navbar-ligth px-3">
    <a class="navbar-brand" href="#" style="color:white;">Navbar</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading1" style="color:white;">First</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2" style="color:white;">Second</a>
      </li>
    </ul>
</nav>